<div>
  <h3> contact me </h3>
  <div class="contact-box">
    <div class="contact-me-element">
      <a href="tel:832-465-8840" class="contact-icon-wrapper">
      {{inline-svg 'phone' class="contact-icon phone"}}
      </a>
      <p class="contact-data"><a href="tel:832-465-8840">832.465.8840</a></p>
    </div>
    <div class="contact-me-element">
      <a href="mailto:s.byrne2254@gmail.com?Subject=Hello%20Shannon" class="contact-icon-wrapper">
        {{inline-svg 'email' class="contact-icon email"}}
      </a>
      <p class="contact-data"><a href="mailto:s.byrne2254@gmail.com?Subject=Hello%20Shannon">s.byrne2254@gmail.com</a></p>
    </div>
    <div class="contact-me-element">
      <a href="www.twitter.com/s_byrne" class="contact-icon-wrapper">
        {{inline-svg 'twitter' class="contact-icon twitter"}}
      </a>
      <p class="contact-data"><a href="www.twitter.com/s_byrne">@s_byrne</a></p>
    </div>
    <div class="contact-me-element">
      <a href="www.github.com/bytheway875" class="contact-icon-wrapper">
        {{inline-svg 'github' class="contact-icon github"}}
      </a>
      <p class="contact-data"><a href="www.github.com/bytheway875">bytheway875</a></p>

    </div>
  </div>
</div>

<div {{action 'toPrevious'}} class="nav-chev left">
  {{inline-svg 'cheveron-outline-left'}}
</div>
